<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    id="WebApp_ID" version="2.5">
    <display-name>Intro_Prog_Web_-_Project</display-name>
    <context-param>
        <param-name>dburl</param-name>
        <param-value>jdbc:derby://localhost:1527/intro_prog_db;user=stefaninog;password=temp</param-value>
    </context-param>
    <filter>
        <filter-name>LoggedInFilter</filter-name>
        <filter-class>filters.LoggedInFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoggedInFilter</filter-name>
        <servlet-name>LoadProducts</servlet-name>
        <servlet-name>EditProduct</servlet-name>
    </filter-mapping>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.WebappContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadProducts</servlet-name>
        <servlet-class>servlet.LoadProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProduct</servlet-name>
        <servlet-class>servlet.EditProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadProducts</servlet-name>
        <url-pattern>/LoadProducts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProduct</servlet-name>
        <url-pattern>/EditProduct</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
